@model IEnumerable<SARVA.Models.Usuario>

@{
    ViewBag.Title = "ReadUsuarios";

    List<string> roles = new List<string>();
    roles.Add("Administrador");
    roles.Add("Vendedor");
}

<h2>ReadUsuarios</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Senha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioRole.RoleName)
        </th>
        <th>
            dropdown
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Senha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioRole.RoleName)
        </td>
        <td>
            @Html.ActionLink("Editar", "Register", "Login", new { id = item.Id }) |
            @Html.ActionLink("Detalhes", "Register", "Login", new { id = item.Id }) |
            @Html.ActionLink("Deletar", "Register", "Login", new { id = item.Id })
        </td>
    </tr>
}

</table>

